<div style='margin:0px auto;max-width:600px'>
  <table border='0' cellpadding='0' cellspacing='0' width='100%'>
    <tr style='background: black'>
      <td align='left'>
        <table border='0' cellpadding='0' cellspacing='0'>
          <tr>
            <td align='center' valign='top' style='padding: 15px;'>
              <a
                href='{{frontEndUrl}}'
                target='_blank'
                style='display: inline-block;'
              >
                <img
                  src='{{logoUrl}}'
                  alt='Logo'
                  border='0'
                  style='display: block; width: 135px;
                              height: -webkit-fill-available;'
                />
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td align='right'>

        <table border='0' cellpadding='0' cellspacing='0'>
          <tr>
            <td align='center' valign='top' style='padding: 15px;'>
              <a href='#' target='_blank' style='display: inline-block;'>
                <p style='color: #FFFFFF'>{{currentDate}}</p>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>