<div
  style='margin:0px auto;max-width:590px;padding-top: 10px;font-size:16px;line-height:25px;text-align:center;'
>
  Dear
  {{context.name}},We are excited to have you join our community! As part of the
  registration process, we require you to verify your email address. Please use
  the verification code below to complete the process.
  <br />
  Verification code:<br />
  <p style='font-size:30px; margin:20px 0px; color:#FF9900;'>
    {{context.verification_code}}
  </p>
  Thank you for choosing our platform.
</div>