<div style='margin:0px auto;max-width:590px;padding-top: 10px;'>
  Hello
  {{context.name}}, Your password reset code is:
  <p style='font-size:25px; margin:10px 0px;'>{{context.verification_code}}</p>
</div>