<html>
  <head>
    <meta charset='utf-8' />
    <title>Mail Template</title>
  </head>
  <body>
    <div style='word-spacing:normal;background-color:#efefef'>
      <div style='background-color:#efefef;padding-bottom: 10px;'>
        {{{header}}}
        <div
          style='background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px'
        >
          <table
            align='center'
            border='0'
            cellpadding='0'
            cellspacing='0'
            role='presentation'
            style='background:#ffffff;background-color:#ffffff;width:100%'
          >
            <tbody>
              <tr>
                <td
                  style='direction:ltr;padding:20px 0px 20px 0px;text-align:center'
                >

                  {{{content}}}

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {{{footer}}}
      </div>
    </div>
  </body>
</html>